<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
    <footer class="page-footer font-small">
        <div class="footerMenuArea">
            <ul class="footerMenu auto">
                <li><a href="/brand/introduce">브랜드 스토리</a></li>
                <li><a href="#" class="popup">이용약관</a></li>
                <li><a href="#" class="popup">개인정보처리방침</a></li>
                <li><a href="#" class="popup">이메일주소 수집거부</a></li>
            </ul>
        </div>

            <div class="info auto">
                <ul class="infoList">
                    <li>PICKSELLY</li>
                    <li>대표자 : 송유진</li>
                    <li>개인정보책임자 : 송유진</li>
                </ul>
                <ul class="infoList">
                    <li>주소 : 경기 부천시 소사구 심곡본동 경인로 287</li>
                </ul>
                <ul class="infoList">
                    <li>대표 전화 : <span class="bold">010-1111-1111</span></li>
                    <li>E-MAIL : <a href="mailto:swtask149@gmail.com">swtask149@gmail.com</a></li>
                </ul>
            </div>

    </footer>
</div>
</html>