@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");



@font-face {
    font-family: 'roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
         unicode-range: U+0030-0039;
}

html, body, table, input, textarea, nav, button, div, p, span,
#main_wrap span, h1, h2, h3, h4, h6, tr, td, ol, ul, li, select, pre, a {
    font-size:16px;
    font-family:"Pretendard Variable","roboto","Open Sans",Malgun Gothic,"맑은 고딕",AppleGothic,Dotum,"돋움",sans-serif;
    color:#606060; font-weight: 500;
}

.pretendard {
 font-family: 'Pretendard Variable', sans-serif;
}

.roboto {
 font-family: 'roboto', sans-serif;
}